:root {
    --primary: #868B94;
    --secondary: #A2ACBD;
    --headings: #1B1F26;
    --list: #BEA5AB;

}

html {
    background-color: var(--primary);
}

li {
    list-style-type: none;
    background-color: var(--list);
    text-align: center;
    margin-top: 1rem;
    border-radius: 15px;
}

.card {
    width: 15rem;
    margin: 2px;
    color: var(--primary); 
    border-radius: 35px;
}

section {
    background-color: var(--primary);
}

.fas {
    color: var(--secondary);
}

.small {
    color: var(--secondary);
}

h1,
h2,
h4,
h5 {
    color: var(--headings);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-shadow: #e0e0e0 1px 1px 0;
}

h3,
h6 {
    color: var(--primary);
}

.btn {
    background-color: #0095FA;
}
